---
import { getPeriod } from "../utils/getPeriod";

const { job } = Astro.props;

const startDate = job.startDate ? new Date(job.startDate) : null;
const endDate = job.endDate ? new Date(job.endDate) : null;
const period = getPeriod(startDate, endDate);
---

<article class="xp-card">
  <p class="period">{period}</p>

  <h3 class="job-title">
    {job.position}
    <span class="company">@ {job.company}</span>
  </h3>

  <p class="description">{job.description}</p>

  <div class="technos">
    <span class="technos-title">Stack principal :</span>

    <div class="techs">
      {job.techs.map((tech: string) => <span class="tech">{tech}</span>)}
    </div>
  </div>

  <style lang="scss">
    @import "../styles/variables.scss";

    .xp-card {
      display: flex;
      flex-direction: column;

      margin: 3rem 0;

      .period {
        grid-area: period;

        font-size: smaller;
      }

      .job-title {
        grid-area: title;
        margin-bottom: 0.75rem;
      }

      .company {
        grid-area: company;

        color: $clr-secondary;
      }

      .description {
        grid-area: description;
      }

      .technos {
        display: flex;
        align-items: center;

        grid-area: technos;

        font-size: smaller;

        .tech {
          display: inline-block;
          grid-area: tag;

          padding: 0 0.5rem;

          text-transform: capitalize;
          font-size: medium;
          color: $clr-text;
        }
      }

      @media screen and (min-width: 640px) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: auto;
        grid-template-areas:
          "period technos"
          "title technos"
          "description technos";

        .technos {
          .technos-title {
            display: none;
          }

          .techs {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 0.25rem;

            width: 100%;

            .tech {
              padding: 0.25rem 0.75rem;

              font-size: medium;
              background-color: $clr-background-light;
            }
          }
        }
      }
    }
  </style>
</article>
