---
import skills from "../data/skills";

const { webApp, fullstack, other } = skills[0];
---

<section class="skills">
  <h2 class="title">Mes Stacks</h2>

  <article class="skills-container">
    <p>
      Les technos que je manie le plus fréquemment pour les productions
      front-end :
    </p>
    <div class="skill-list">
      {
        webApp.map((skill) => {
          return (
            <a href={skill.link} target="_blank">
              <img src={`/images/logos/${skill.icon}.svg`} alt={skill.name} />
            </a>
          );
        })
      }
    </div>
  </article>

  <article class="skills-container">
    <p>
      Les technos que je manipule pour le façonnage d'application Web Fullstack
      :
    </p>
    <div class="skill-list">
      {
        fullstack.map((skill) => {
          return (
            <a href={skill.link} target="_blank">
              <img src={`/images/logos/${skill.icon}.svg`} alt={skill.name} />
            </a>
          );
        })
      }
    </div>
  </article>

  <article class="skills-container">
    <p>D'autres outils que j'utilise :</p>
    <div class="skill-list">
      {
        other.map((skill) => {
          return (
            <a href={skill.link} target="_blank">
              <img src={`/images/logos/${skill.icon}.svg`} alt={skill.name} />
            </a>
          );
        })
      }
    </div>
  </article>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  .skills {
    margin: 4rem 0;
  }

  article {
    margin: 2rem 0;
  }

  img {
    width: 2.25rem;
    height: 2.25rem;
  }

  .skills-container {
    display: block;
    flex-direction: column;
    gap: 1rem;

    padding: 1.5rem;

    background-color: $clr-background-light;

    p {
      margin-bottom: 1.5rem;
    }

    .skill-list {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    @media screen and (min-width: 640px) {
      img {
        width: 3rem;
        height: 3rem;
      }

      .skill-list {
        gap: 1.5rem;
      }
    }
  }
</style>
