---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import seoData from "../data/seo";

import "../styles/global.scss";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    {/* SEO */}
    <meta name="description" content={seoData.description} />
    <meta name="image" content={seoData.image} />

    <meta property="og:title" content={seoData.title} />
    <meta property="og:description" content={seoData.description} />
    <meta property="og:image" content={seoData.image} />
    <meta property="og:url" content={seoData.url} />
    <meta property="og:type" content="website" />

    <meta name="twitter:creator" content={seoData.twitterUsername} />
    <meta name="twitter:title" content={seoData.title} />
    <meta name="twitter:description" content={seoData.description} />
    <meta name="twitter:image" content={seoData.image} />

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />

    <title>{title}</title>
  </head>
  <body>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  main {
    margin: 0 1rem;
  }
</style>
