---
import { Image } from "astro:assets";

import Layout from "./Layout.astro";

import iconGit from "../assets/icons/iconGit.png";
import iconLink from "../assets/icons/iconLink.png";

const { frontmatter } = Astro.props;

const coverImage = await import(`../assets/projects/${frontmatter.image}.webp`);
---

<Layout title={`Projet - ${frontmatter.title}`}>
  <section class="container">
    <Image src={coverImage.default} alt={frontmatter.title} />

    <div class="description">
      <h1>{frontmatter.title}</h1>
      <p>Rôle: {frontmatter.role}</p>
      <p>Mis à jour le : {frontmatter.lastUpdated}</p>
    </div>

    <div class="links">
      <a href={frontmatter.liveUrl} target="_blank">
        <img src={iconLink.src} alt="Live" />
      </a>
      <a href={frontmatter.codeUrl} target="_blank">
        <img src={iconGit.src} alt="Code" />
      </a>
    </div>

    <div class="tags">
      {
        frontmatter.tags.map((tag: string) => {
          return <span class="tag">{tag}</span>;
        })
      }
    </div>
  </section>

  <main>
    <slot />
  </main>

  <style lang="scss">
    @import "../styles/variables.scss";

    img {
      grid-area: cover-image;

      margin-bottom: 1rem;
      width: 100%;
      height: 200px;

      object-fit: cover;
      object-position: top;

      @include shadow;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      margin-bottom: 2rem;

      @media screen and (min-width: 640px) {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-template-areas:
          "description cover-image cover-image"
          "links cover-image cover-image"
          "tags tags tags";
        gap: 1rem;
      }

      .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        grid-area: description;

        margin-bottom: 1rem;

        @media screen and (min-width: 640px) {
          align-items: flex-start;

          margin-bottom: 0;
        }
      }

      .links {
        display: flex;
        justify-content: start;
        gap: 1.5rem;

        grid-area: links;

        img {
          margin: auto;
          padding: 0.25rem;
          width: 2rem;
          height: 2rem;
          border-radius: 0.5rem;
          background-color: $clr-secondary;

          @include shadow;

          &:hover {
            background-color: $clr-text-light;
          }
        }

        @media screen and (min-width: 640px) {
          justify-content: flex-start;
          align-items: center;

          height: 3.5rem;
        }
      }

      .tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        grid-area: tags;

        margin-top: 1rem;

        @media screen and (min-width: 640px) {
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;

          margin-top: 0;
        }

        .tag {
          display: inline-block;
          padding: 0.25rem 0.5rem;
          border: 2px solid $clr-background-light;
          background-color: $clr-background-light;
          font-size: 0.75rem;
        }
      }
    }
  </style>
</Layout>
