---
import Layout from "./Layout.astro";

import iconGit from "../assets/icons/iconGit.png";
import iconLink from "../assets/icons/iconLink.png";

const { frontmatter } = Astro.props;
---

<Layout>
  <img src={frontmatter.image.url} alt={frontmatter.title} />
  <section class="container">
    <div class="description">
      <h1>{frontmatter.title}</h1>
      <p>Rôle: {frontmatter.role}</p>
      <p>Mis à jour le : {frontmatter.lastUpdated}</p>
    </div>

    <div class="infos">
      <div class="links">
        <a href={frontmatter.liveUrl} target="_blank">
          <img src={iconGit} alt="Live" />
        </a>
        <a href={frontmatter.codeUrl} target="_blank">
          <img src={iconLink} alt="Code" />
        </a>
      </div>

      <div class="tags">
        {
          frontmatter.tags.map((tag: string) => {
            return <span class="tag">{tag}</span>;
          })
        }
      </div>
    </div>
  </section>

  <main>
    <slot />
  </main>

  <style lang="scss">
    @import "../styles/variables.scss";

    img {
      margin-bottom: 1rem;

      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: top;

      @include shadow;
    }

    .container {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      margin-bottom: 2rem;

      @media screen and (min-width: 640px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }

      .description {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        width: 50%;
      }

      .infos {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: start;

        width: 50%;

        @media screen and (min-width: 640px) {
          align-items: start;
          width: 40%;
        }

        .links {
          display: flex;
          justify-content: start;
          gap: 1.5rem;

          img {
            margin: auto;
            padding: 0.25rem;
            width: 2rem;
            height: 2rem;
            border-radius: 0.5rem;
            background-color: $clr-secondary;

            @include shadow;

            &:hover {
              background-color: $clr-text-light;
            }
          }
        }

        .tags {
          display: flex;
          justify-content: end;
          flex-wrap: wrap;
          gap: 0.5rem;
          margin-top: 1rem;

          @media screen and (min-width: 640px) {
            justify-content: start;
          }

          .tag {
            display: inline-block;
            padding: 0.25rem 0.5rem;
            border: 2px solid $clr-background-light;
            background-color: $clr-background-light;
            font-size: 0.75rem;
          }
        }
      }
    }
  </style>
</Layout>
